<!DOCTYPE html>
<html lang="en">
<head>
	<title>CryptoKebab Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans" rel="stylesheet"> 

</head>
 
<body>
  <div class id="headerbox">
    <p>cryptokebab</p>
  </div>
  <div class id="bodybox">
    <p class id="headline">THE WORLD'S FIRST ENTERPRISE BLOCKCHAIN SOLUTION FOR STREET VENDORS</p>
    <p class id="caption">Because of course.</p>
    <p class id="moreinfo">Scalable, secure, and fucking delicious.</p>
  </div>
  <div class id="cta">
    <p>COMING SOON, MAYBE NEVER</p>
  </div>
</body>
</html>  
